#sbec-header-border-top {
  height: 1px;
  padding: 0px;
  margin: 0px;
  border-top: 3px solid $greyc0;
  border-bottom: 2px solid $greyc0;
  background-color: $white;
}

#sbec-header-border-bottom {
  height: 1px;
  padding: 0px;
  margin: 0px;
  border-top: 2px solid $greyc0;
  border-bottom: 3px solid $greyc0;
  background-color: $white;
}

#sbec-heading-divider {
  height: 1px;
  padding: 0px;
  border-top: 2px solid $navyblue;
  border-bottom: 2px solid $grey78;
}

#sbec-border-top {
  height: 1px;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid $navyblue;
  border-top: 2px solid $grey78;
}

#sbec-border-bottom {
  height: 1px;
  padding: 0px;
  margin: 0px;
  border-top: 2px solid $navyblue;
  border-bottom: 2px solid $grey78;
}

#sbec-gray-border-top {
  height: 1px;
  padding: 0px;
  margin: 0px;
  border-top: 2px solid $grey78;
  border-bottom: 1px solid $greyc0;
}

#sbec-gray-border-bottom {
  height: 1px;
  padding: 0px;
  margin: 0px;
  border-top: 1px solid $greyc0;
  border-bottom: 2px solid $grey78;
}

.sbec-question-circle {
  color: $navyblue !important;

  &:hover {
    color: $applegreen !important;
  }
}

.sbec-clickable {
  cursor: pointer;
}
