.sbec-font-size-8px {
  font-size: 8px;
}

.sbec-font-size-10px {
  font-size: 10px;
}

.sbec-font-size-12px {
  font-size: 12px;
}

.sbec-error-text {
  font-family: $sbecwebfont;
  color: $red !important;
  font-size: 14px;
  font-weight: bold;
}

.sbec-bg-primary-color {
  background-color: $grey3;
}

.sbec-bg-secondary-color {
  background-color: $navyblue;
}

.sbec-bg-tertiary-color {
  background-color: $lightblue;
}

.sbec-primary-color {
  color: $grey78;
}

.sbec-secondary-color {
  color: $navyblue;
}

.sbec-tertiary-color {
  color: $lightblue;
}

.sbec-error-txt-color {
  color: $red;
}
