$sbecwebfont: "Helvetica Neue", Helvetica, Arial, sans-serif;

$white: #fff;
$claywhite: #f9f2f4;
$chalkwhite: #f5f5f5;

$red: #f00;
$persianred: #c9302c;
$deeprosered: #761c19;
$rosered: #c7254e;
$flagred: #ac2925;
$rustred: #a94442;
$brickred: #843534;
$palepink: #f2dede;
$pink: #e4b9b9;

$milky: #fcf8e3;
$lightyellow: #f7ecb5;
$sunray: #faf2cc;
$yellow: #ff0;

$eggyellow: #f0ad4e;
$orangeyellow: #d58512;
$woodyellow: #d19b3d;
$cream: #faebcc;
$honey: #ec971f;
$bee: #eea236;

$black: #000;
$eyebrowblack: #001529;
$coalblack: #020205;

$teal: #1b6d85;
$lightblue: #5bc0de;
$iceblue: #e1ffff;
$lightcyan: #bce8f1;
$paleblue: #d9edf7;
$summersky: #46b8da;
$skyblue: #66afe9;
$cornflowerblue: #afd9ee;
$eyeblue: #c4e3f3;
$independenceblue: #4f5b69;
$steelblue: #245269;
$babyblue: #31b0d5;
$mountainblue: #31708f;
$azulblue: #2aabd2;
$mediumblue: #269abc;
$navyblue: #212c65;
$duckblue: #1f7e9a;
$delftblue: #004080;
$yaleblue: #121837;
$nightblue: #141b3f;
$blackblue: #0c1024;
$spaceblue: #003367;
$deepspaceblue: #00264d;

$greyf7: #f7f7f7;
$greyf8: #f8f8f8;
$greyd: #ddd;
$greye: #eee;
$greyeb: #ebebeb;
$greye5: #e5e5e5;
$greye6: #e6e6e6;
$greye7: #e7e7e7;
$greye8: #e8e8e8;
$greyc: #ccc;
$grey2: #222;
$grey26: #262626;
$grey38: #383838;
$grey4: #444;
$greyc0: #c0c0c0;
$grey5f: #5f5f5f;
$grey08: #080808;
$grey3: #333;
$grey4d: #4d4d4d;
$grey5: #555;
$grey59: #595959;
$grey7: #777;
$grey78: #787878;
$grey8c: #8c8c8c;
$grey8: #888;
$grey9d: #9d9d9d;
$grey9: #999;
$stonegrey: #2e353d;
$deepstonegrey: #23282e;

$brown: #66512c;
$soilbrown: #985f0d;
$goldenbrown: #8a6d3b;

$palegreen: #dff0d8;
$lightlimegreen: #c1e2b3;
$lightminty: #d6e9c6;
$lighttea: #d0e9c6;
$minty: #4cae4c;
$grassgreen: #449d44;
$applegreen: #5cb85c;
$olivegreen: #3c763d;
$pinegreen: #2b542c;
$forestgreen: #398439;
$mountaingreen: #255625;
